<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="linq2db" version="2.5.4" targetFramework="net452" />
  <package id="linq2db.MySql" version="2.5.4" targetFramework="net452" />
  <package id="MarkerMetro.Unity.LitJson" version="2.0.0.14" targetFramework="net452" />
  <package id="MarkerMetro.Unity.WinLegacy" version="1.8.0.7" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.8" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net452" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" />
</packages>